{% extends "_layout.html" %}

{% load crispy_forms_tags %}
{% block navheader %}
{% include 'includes/navheader_employee_app.html' %}
{% endblock %}

{% block content %}
{% include "_modal.html" %}

<!---start of container-->
<div class="container-fluid"> 
  {% if  messages %}
  {% for message in messages %}
      <div {% if message.tags %} class="{{ message.tags}} alert-info"{% endif %}>
          {{ message }}
          <button type="button" class="close" id = "override-start"data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
          </button>
      </div>
  {% endfor %}
  {% endif %}
  <div class="row">
    
    <div class="col-lg-12"><!-- beginning of second div -->

    <!---start of accordion-->
    <div id="accordion"> 
      <!---start of first card -->
      <div class="card">
          <div class="card-header bg-success text-white" id="toAccept">
            <h3>
              <button class="btn btn-link badge badge-light pull-left" data-toggle="collapse" data-target="#collapseToAccept" aria-expanded="true" aria-controls="collapseToAccept">
               Tasks To Accept
              <i class="fa fa-caret-down"></i>
            </button>
              <p class="pull-right"><i class="fa fa-bell"></i> {{ tasks.count }} task(s) </p>
            </h3>
          </div>
          <!--- beginning of collapse -->
          <div id="collapseToAccept" class="collapse show" aria-labelledby="toAccept" data-parent="#accordion">
          <div class="card-body">
              {% if tasks %}
              <table id="acceptTask" class="table table-bordered table-striped table-hover">
                <thead><!--head of first table-->
                <tr class="bg-success text-white">
                  <th>Project Name</th>
                  <th>Team</th>
                  <th>Created By</th>
                  <th>Client</th>
                  <th>Project Coordinator</th>
                  {% if not completed %}
                    <th>Tasks</th>
                    <th>Accept</th>
                  {% else %}
                    <th>Completed / Approved Date</th>
                  {% endif %}
                  <th>Actions</th>
                </tr>
                </thead><!-- end of head of first table -->
                <tbody><!--beginning of first table body-->
                {% for subtask in tasks %}
                <tr>
                  <td><a href="{{ subtask.task.get_absolute_url }}">{{ subtask.task.title }}</a></td>
                  <td>
                    {% if subtask.task.team %}
                    <a href={{ subtask.task.team.get_absolute_urls }}>{{ subtask.task.team }}</a>
                    {% else %}
                    ----
                    {% endif %}
                  </td>
                  <td>{{ subtask.task.creator }}</td>
                  <td>{{subtask.task.client_name}}</td>
                  <td>
                    <ul>
                      {% for u in subtask.task.assigned_to.all %}
                      <li>{{ u }}</li>
                      {% endfor %}
                    </ul>
                  </td>
                  {% if not completed %}
                  <td class="{% if task.is_overdated %}bg-danger text-white{% endif %}">
                    <ul>
                      {% if subtask.task.is_overdated  %}
                      <li>
                        {{subtask.name}}&rarr;{{subtask.member_assigned}}&rarr;{{ subtask.task_due_date }} &lArr; extend deadline please
                      </li>
                      {% else %}
                      <li>
                        {{subtask.name}}&rarr;{{subtask.member_assigned}}&rarr;{{ subtask.task_due_date }} &lArr; deadline
                      </li>
                      {% endif %}
                     </ul> 
                    </td>
                      <td>
                        <a href="{% url 'taskmanager:task_accept' subtask.task.pk %}?subtask_id={{subtask.pk}}" class="btn btn-sm btn-info">accept task</a>
                      </td>
                      {% else %}
                      {% if subtask.completed_date %}
                      <td>{{ subtask.completed_date}}</td> 
                      {% else %}
                      <td>{{subtask.approved_date }}</td>
                      {% endif %}
                    {% endif %}
                    <td><div class="btn-group">
                      <button data-id="{% url 'taskmanager:task_extend' subtask.task.pk %}" class="due_date btn btn-sm btn-success"><i class="fa fa-edit">extend deadline</i></button>
                      <button data-id="{% url 'taskmanager:task_reassign' subtask.task.pk %}" class="reassign btn btn-sm btn-warning"><i class="fa fa-user">reassign</i></button>
                    </div></td>
                  </tr>
                  {% endfor %}
                </tbody><!-- end of first table body-->
              </table>
            {% endif %}
      
          </div>
        </div><!-- end of first collapse -->
      </div>
      <!--end of first card -->
      <!--- beginning of second card -->
      <div class="card">
          <div class="card-header bg-success text-white" id="ongoingTasks">
            <h3>
              <button class="btn btn-link badge badge-light pull-left collapsed" data-toggle="collapse" data-target="#collapseOngoingTasks" aria-expanded="false" aria-controls="collapseOngoingTasks">
                Ongoing Tasks
              <i class="fa fa-caret-down"></i>
              </button>
              <p class="pull-right"><i class="fa fa-bell"></i> {{ tasks_inprogress.count }} task(s) </p>
            </h3>
          </div>
          <div id="collapseOngoingTasks" class="collapse" aria-labelledby="ongoingTasks" data-parent="#accordion"><!--- beginning of second collapse -->
          <div class="card-body">
            {% if tasks_inprogress %}
            <table id="ongoingTask" class="table table-bordered table-striped table-hover">
              <thead><!-- beginning of second table head -->
              <tr class="bg-success text-white">
                <th>Project Name</th>
                <th>Tasks</th>
                <th>Team</th>
                <th>Created By</th>
                <th>Client</th>
                <th>Project Coordinator</th>
                {% if not completed %}
                  <th>Due Date</th>
                  <th>Submit</th>
                {% else %}
                  <th>Completed / Approved Date</th>  
                {% endif %}
                <th>Revised Due Date</th>
                <th>Actions</th>
              </tr>
              </thead><!-- end of second table head -->
              <tbody><!--beginning of second table body -->
              {% for subtask in tasks_inprogress %}
                <tr>
                  <td><a href="{{ subtask.task.get_absolute_url }}">{{ subtask.task.title }}</a></td>
                  <td>
                    <ul>
                        <li>{{ subtask.name }} &rarr; {{subtask.member_assigned }}</li>
                    </ul>
                  </td>
                  <td>
                    {% if subtask.task.team %}
                      <a href={{ subtask.task.team.get_absolute_urls }}>{{ subtask.task.team }}</a>
                    {% else %}
                      ----
                    {% endif %}
                  </td>
                  <td>{{ subtask.task.creator }}</td>
                  <td>{{ subtask.task.client_name}}</td>
                  <td>
                    <ul>
                      {% for u in subtask.task.assigned_to.all %}
                        <li>{{ u }}</li>
                      {% endfor %}
                    </ul>
                  </td>
                  <td class="{% if task.is_overdated %}bg-warning{% endif %}">{{ subtask.task_due_date }}</td>
                  {% if subtask.status == 'REV' %}
                  <td>
                    <a href="{% url 'taskmanager:task_mark_completed' subtask.task.pk %}?subtask_id={{subtask.pk}}" class="btn btn-sm btn-danger"> <i class="fa fa-warning"></i> resubmit task</a>
                  </td>
                  {% else %}
                  <td>
                    <a href="{% url 'taskmanager:task_mark_completed' subtask.task.pk %}?subtask_id={{subtask.pk}}" class="btn btn-sm btn-warning">submit task</a>
                  </td>
                  {% endif %}
                  {% if subtask.completed_date %}
                  <td>{{ subtask.completed_date}}</td> 
                  {% else %}
                  <td>{{subtask.approved_date }}</td>
                  {% endif %}
                  <td><div class="button-group">
                    <button data-id="{% url 'taskmanager:task_extend' subtask.task.pk %}" class="due_date btn btn-sm btn-success"><i class="fa fa-edit">extend deadline</i></button>
                    <button data-id="{% url 'taskmanager:task_reassign' subtask.task.pk %}" class="reassign btn btn-sm btn-warning"><i class="fa fa-user">reassign</i></button>
                  </div></td>
                </tr>
              {% endfor %}
              </tbody><!-- end of second table body -->
            </table>
          {% endif %}      
          </div>
          </div><!-- end of second collapse -->
      </div>
      <!--end of second card-->

      <!--- beginning of third card -->
      <div class="card">
        <div class="card-header bg-success text-white" id="completedTasks">
          <h3>
            <button class="btn btn-link badge badge-light pull-left collapsed" data-toggle="collapse" data-target="#collapseCompletedTasks" aria-expanded="false" aria-controls="collapseCompletedTasks">
              Completed Tasks
            <i class="fa fa-caret-down"></i>
            </button>
            <p class="pull-right"><i class="fa fa-bell"></i> {{ completed_or_approved_tasks.count }} task(s) </p>
          </h3>      
        </div>
        <div id="collapseCompletedTasks" class="collapse" aria-labelledby="completedTasks" data-parent="#accordion"><!--- beginning of third collapse -->
        <div class="card-body">
          {% if completed_or_approved_tasks %}
          <table id="completeTask" class="table table-bordered table-striped table-hover">
            <thead><!-- beginning of third table head -->
            <tr class="bg-success text-white">
              <th>Project Name</th>
              <th>Tasks</th>
              <th>Team</th>
              <th>Created By</th>
              <th>Client</th>
              <th>Project Coordinator</th>
              <th>Completed / Approved Date</th>
              <th>
                <div class="button-group">
                  Status /
                  <button data-id="{% url 'taskmanager:task_bid_create' %}" class="bid_award btn btn-sm btn-warning"><i class="fa fa-money"></i></button>
                </div>
              </th>
              <th>Price</th>
              <th>Invoice Request</th>
            </tr>
            </thead><!-- beginning of third table head -->
            <tbody><!-- beginning of third table body -->
            {% for subtask in completed_or_approved_tasks %}
            {% if subtask.status == 'COMP' or subtask.status == 'APP' or subtask.status == 'RET' %}

              <tr>
                <td><a href="{{ subtask.task.get_absolute_url }}">{{ subtask.task.title }}</a></td>
                <td>
                  <ul>
                      <li>{{ subtask.name }} &rarr; {{subtask.member_assigned }}</li>
                  </ul>
                </td>
                <td>
                  {% if subtask.task.team %}
                    <a href={{ subtask.task.team.get_absolute_urls }}>{{ subtask.task.team }}</a>
                  {% else %}
                    ----
                  {% endif %}
                </td>
                <td>{{ subtask.task.creator }}</td>
                <td>{{subtask.task.client_name}}</td>
                <td>
                  <ul>
                    {% for u in subtask.task.assigned_to.all %}
                      <li>{{ u }}</li>
                    {% endfor %}
                  </ul>
                </td>
                {% if subtask.completed_date %}
                <td>{{ subtask.completed_date}}</td> 
                {% else %}
                <td>{{subtask.approved_date }}</td>
                {% endif %}
                <td>
                  <div class="button-group">
                    <div class="row">
                      <div class="col-12">
                        <div class="btn btn-sm btn-success">
                          <i class="fa fa-check-circle">{{ subtask.get_status_display }}</i>
                        </div>
                      </div>
                      </div>
                  </div>
                </td>
                {% if subtask.task.taskPrice.all %}
                <td>
                {% for pricing in subtask.task.taskPrice.all %}
                  <li>{{pricing.currency.currency}} &nbsp; {{pricing.currency.amount}}</li>
                {% endfor %}
                </td>
                {% else %}
                <td> No pricing set yet. </td>
                {% endif %}
                <td>
                  <button data-id="{% url 'taskmanager:invoice_assignment'  %}?task={{subtask.task.pk}}" class="invoice btn btn-sm btn-warning"><i class="fa fa-user">request</i></button>
                  {% for invoice in subtask.task.projectInvoice.all %}
                  {% if invoice.is_invoiced %}
                  <i class="fa fa-check">invoiced</i>
                  {% endif %}
                  {% endfor %}
                </td>
              </tr>
            {% endif %}
            {% endfor %}
            </tbody><!-- end of third table body -->
          </table>
        {% endif %}    
        </div>
        </div><!-- end of third collapse -->
      </div>
      <!-- end of third card -->
      {% if request.user.is_superuser  and result%}
      <!--- beginning of fourth card -->
      <div class="card">
        <div class="card-header bg-success text-white" id="toReview">
          <h3>
            <button class="btn btn-link badge badge-light pull-left collapsed" data-toggle="collapse" data-target="#collapseToReview" aria-expanded="false" aria-controls="collapseToReview">
              Tasks To Review
            <i class="fa fa-caret-down"></i>
            </button>
            <p class="pull-right"><i class="fa fa-bell"></i> {{ completed_tasks.count }} task(s) </p>
          </h3>      
        </div>
        <div id="collapseToReview" class="collapse" aria-labelledby="toReview" data-parent="#accordion"><!--- beginning of fourth collapse --> 
        <div class="card-body">
          <!-- <p>
            You have approved {{ tasks.count }} task(s) and {{tasks.count}} task(s) are waiting to be reviewed for returning for revision 
            and {{tasks.count}} task(s) are waiting to be reviewed for reassignment.
          </p> -->
          {% if completed_tasks %}
          <table id="taskReview" class="table table-bordered table-striped table-hover">
            <thead><!--beginning of fourth table head-->
            <tr class="bg-success text-white">
              <th>Project Name</th>
              <th>Tasks</th>
              <th>Team</th>
              <th>Created By</th>
              <th>Client</th>
              <th>Project Coordinator</th>
              <th>Completed / Approved Date</th>
              <th>Approve/Return</th>
              <th>Actions</th>
              <th>Status</th>
            </tr>
            </thead><!--end of fourth table head-->
            <tbody><!-- beginning of fourth table body-->
            {% for subtask in completed_tasks %}
            {% if subtask.status == 'COMP' or subtask.status == 'RET' or subtask.status == 'PA' %}

              <tr>
                <td><a href="{{ subtask.task.get_absolute_url }}">{{ subtask.task.title }}</a></td>
                <td>
                  <ul>
                      <li>{{ subtask.name }} &rarr; {{subtask.member_assigned }}</li>
                  </ul>
                </td>
                <td>
                  {% if subtask.task.team %}
                    <a href={{ subtask.task.team.get_absolute_urls }}>{{ subtask.task.team }}</a>
                  {% else %}
                    ----
                  {% endif %}
                </td>
                <td>{{ subtask.task.creator }}</td>
                <td>{{ subtask.task.client_name}}</td>
                <td>
                  <ul>
                    {% for u in subtask.task.assigned_to.all %}
                      <li>{{ u }}</li>
                    {% endfor %}
                  </ul>
                </td>
                {% if subtask.completed_date %}
                <td>{{ subtask.completed_date}}</td> 
                {% else %}
                <td>{{subtask.approved_date }}</td>
                {% endif %}
                <td>
                  {% if subtask.status == 'PA' %}
                  <a href="{% url 'taskmanager:task_mark_pending_approved' subtask.task.pk %}?subtask_id={{subtask.pk}}" class="btn btn-sm btn-warning"> <i class="fa fa-warning"></i>approve</a>
                  {% else %}
                  <button data-id="{% url 'taskmanager:subtask_rating' subtask.task.pk %}?subtask_id={{ subtask.pk}}" class="rating btn btn-warning btn-sm"><i class="fa fa-check">approve</i></button>
                  <a href="{% url 'taskmanager:task_mark_revision' subtask.task.pk %}?subtask_id={{subtask.pk}}" class="btn btn-sm btn-danger"> <i class="fa fa-close"></i> return</a>

                  {% endif %}
                </td>
                <td><div class="button-group">
                  <button data-id="{% url 'taskmanager:task_extend' subtask.task.pk %}" class="due_date btn btn-sm btn-success"><i class="fa fa-edit">extend deadline</i></button>
                  <button data-id="{% url 'taskmanager:task_reassign' subtask.task.pk %}" class="reassign btn btn-sm btn-warning"><i class="fa fa-user">reassign</i></button>
                </div></td>
                {% if subtask.status == 'RET' %}
                <td class="badge badge-warning"><i class="fa fa-exclamation-triangle"></i>{{subtask.get_status_display}}</td>
                {% elif subtask.status == 'COMP' %}
                <td class="badge badge-success">{{subtask.get_status_display}}</td>
                {% else %}
                <td class="badge badge-info">{{subtask.get_status_display}}</td>
                {% endif %}
              </tr>
            {% endif %}
            {% endfor %}
            </tbody><!-- end of fourth table body-->
          </table>
        {% endif %}    
        </div>
        </div><!--- end of fourth collapse -->
      </div>
      <!--- end of fourth card -->
      {% endif %}
      
      <!--- beginning of fifth card -->
      <div class="card">
        <div class="card-header bg-success text-white" id="projects">
          <h3>
            <button class="btn btn-link badge badge-light pull-left collapsed" data-toggle="collapse" data-target="#collapseProjects" aria-expanded="false" aria-controls="collapseToReview">
              Projects
            <i class="fa fa-caret-down"></i>
            </button>
            <p class="pull-right"><i class="fa fa-bell"></i> {{ taskset.count }} task(s) </p>
          </h3>      
        </div>
        <div id="collapseProjects" class="collapse" aria-labelledby="toReview" data-parent="#accordion"><!--- beginning of fourth collapse --> 
        <div class="card-body">
          <!-- <p>
            You have approved {{ tasks.count }} task(s) and {{tasks.count}} task(s) are waiting to be reviewed for returning for revision 
            and {{tasks.count}} task(s) are waiting to be reviewed for reassignment.
          </p> -->
          {% if taskset %}
          <table id="taskReview" class="table table-bordered table-striped table-hover">
            <thead><!--beginning of fifth table head-->
            <tr class="bg-success text-white">
              <th>Project Name</th>
              <th>Team</th>
              <th>Created By</th>
              <th>Client</th>
              <th>Project Coordinator</th>
              <th>Completed / Approved Date</th>
              <th>Status</th>
              <th>Actions</th>
              <th>Rate</th>
            </tr>
            </thead><!--end of fifth table head-->
            <tbody><!-- beginning of fifth table body-->
            {% for subtask in taskset %}
            {% if request.user  %}

              <tr>
                <td><div class="button-group">
                  <a href="{{ subtask.get_absolute_url }}">{{ subtask.title }}</a>
                  <a href="{% url 'taskmanager:task_update' subtask.pk %}" class="update_form pull-right btn btn-sm btn-success"><i class="fa fa-pencil-square-o"></i></a>
                </div>
                </td>
                <td>
                  {% if subtask.team %}
                    <a href={{ subtask.team.get_absolute_urls }}>{{ subtask.team.name }}</a>
                  {% else %}
                    ----
                  {% endif %}
                </td>
                <td>{{ subtask.creator }}</td>
                <td>{{ subtask.client_name}}</td>
                <td>
                  <ul>
                    {% for u in subtask.assigned_to.all %}
                      <li>{{ u }}</li>
                    {% endfor %}
                  </ul>
                </td>
                {% if subtask.completed_date %}
                <td>{{ subtask.completed_date}}</td> 
                {% else %}
                <td>{{subtask.approved_date }}</td>
                {% endif %}
                <td>{{subtask.get_status_display}}</td>
                <td>
                  {{subtask.pk}}    
                </td>
                <td>{{subtask.task_count}}%
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{subtask.task_count}}%" aria-valuenow="{{subtask.task_count}}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
              </tr>
            {% endif %}
            {% endfor %}
            </tbody><!-- end of fifth table body-->
          </table>
        {% endif %}    
        </div>
        </div><!--- end of fifth collapse -->
      </div>
      <!--- end of fifth card -->



      <!--- beginning of sixth card -->
      <div class="card">
        <div class="card-header bg-success text-white" id="projects">
          <h3>
            <button class="btn btn-link badge badge-light pull-left collapsed" data-toggle="collapse" data-target="#successfulBids" aria-expanded="false" aria-controls="collapseSuccessfulBids">
              Successful Bids
            <i class="fa fa-caret-down"></i>
            </button>
            <p class="pull-right"><i class="fa fa-bell"></i></p>
          </h3>      
        </div>
        <div id="successfulBids" class="collapse" aria-labelledby="successfulBids" data-parent="#accordion"><!--- beginning of fourth collapse --> 
        <div class="card-body">
          <!-- <p>
            You have approved {{ tasks.count }} task(s) and {{tasks.count}} task(s) are waiting to be reviewed for returning for revision 
            and {{tasks.count}} task(s) are waiting to be reviewed for reassignment.
          </p> -->
          {% if successful_bids %}
          <table id="successfulBids" class="table table-bordered table-striped table-hover">
            <thead><!--beginning of sixth table head-->
            <tr class="bg-success text-white">
              <th>Project Name</th>
              <th>Team</th>
              <th>Created By</th>
              <th>Client</th>
              <th>Project Coordinator</th>
              <th>Status</th>
              <th>Rate</th>
            </tr>
            </thead><!--end of sixth table head-->
            <tbody><!-- beginning of sixth table body-->
            {% for subtask in successful_bids %}
            {% if request.user  %}

              <tr>
                <td><div class="button-group">
                  <a href="{{ subtask.get_absolute_url }}">{{ subtask.title }}</a>
                  <a href="{% url 'taskmanager:task_update' subtask.pk %}" class="update_form pull-right btn btn-sm btn-success"><i class="fa fa-pencil-square-o"></i></a>
                </div>
                </td>
                <td>
                  {% if subtask.team %}
                    <a href={{ subtask.team.get_absolute_urls }}>{{ subtask.team.name }}</a>
                  {% else %}
                    ----
                  {% endif %}
                </td>
                <td>{{ subtask.creator }}</td>
                <td>{{ subtask.client_name}}</td>
                <td>
                  <ul>
                    {% for u in subtask.assigned_to.all %}
                      <li>{{ u }}</li>
                    {% endfor %}
                  </ul>
                </td>
                <td>{{subtask.get_status_display}}</td>
                <td>{{subtask.task_count}}%
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{subtask.task_count}}%" aria-valuenow="{{subtask.task_count}}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
              </tr>
            {% endif %}
            {% endfor %}
            </tbody><!-- end of fifth table body-->
          </table>
        {% endif %}    
        </div>
        </div><!--- end of fifth collapse -->
      </div>
      <!--- end of sixth card -->




      <!--- beginning of seventh card -->
      <div class="card">
        <div class="card-header bg-success text-white" id="projects">
          <h3>
            <button class="btn btn-link badge badge-light pull-left collapsed" data-toggle="collapse" data-target="#unsuccessfulBids" aria-expanded="false" aria-controls="collapseUnsuccessfulBids">
              Unsuccessful Bids
            <i class="fa fa-caret-down"></i>
            </button>
            <p class="pull-right"><i class="fa fa-bell"></i></p>
          </h3>      
        </div>
        <div id="unsuccessfulBids" class="collapse" aria-labelledby="unsuccessfulBids" data-parent="#accordion"><!--- beginning of fourth collapse --> 
        <div class="card-body">
          <!-- <p>
            You have approved {{ tasks.count }} task(s) and {{tasks.count}} task(s) are waiting to be reviewed for returning for revision 
            and {{tasks.count}} task(s) are waiting to be reviewed for reassignment.
          </p> -->
          {% if unsuccessful_bids %}
          <table id="unsuccessfulBids" class="table table-bordered table-striped table-hover">
            <thead><!--beginning of fifth table head-->
            <tr class="bg-success text-white">
              <th>Project Name</th>
              <th>Team</th>
              <th>Created By</th>
              <th>Client</th>
              <th>Project Coordinator</th>
              <th>Status</th>
              <th>Notification Date</th>
              <th>Unsuccessful Reason</th>
              <th>Rate</th>
            </tr>
            </thead><!--end of fifth table head-->
            <tbody><!-- beginning of fifth table body-->
            {% for subtask in unsuccessful_bids %}
            {% if request.user  %}

              <tr>
                <td><div class="button-group">
                  <a href="{{ subtask.get_absolute_url }}">{{ subtask.title }}</a>
                  <a href="{% url 'taskmanager:task_update' subtask.pk %}" class="update_form pull-right btn btn-sm btn-success"><i class="fa fa-pencil-square-o"></i></a>
                </div>
                </td>
                <td>
                  {% if subtask.team %}
                    <a href={{ subtask.team.get_absolute_urls }}>{{ subtask.team.name }}</a>
                  {% else %}
                    ----
                  {% endif %}
                </td>
                <td>{{ subtask.creator }}</td>
                <td>{{ subtask.client_name}}</td>
                <td>
                  <ul>
                    {% for u in subtask.assigned_to.all %}
                      <li>{{ u }}</li>
                    {% endfor %}
                  </ul>
                </td>
                <td>{{subtask.get_status_display}}</td>
                <td>{{ subtask.notification_date }}</td>
                <td>{{ subtask.unsuccess_reason }}</td>
                
                <td>{{subtask.task_count}}%
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{subtask.task_count}}%" aria-valuenow="{{subtask.task_count}}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
              </tr>
            {% endif %}
            {% endfor %}
            </tbody><!-- end of fifth table body-->
          </table>
        {% endif %}    
        </div>
        </div><!--- end of fifth collapse -->
      </div>
      <!--- end of seventh card -->

      

    </div><!--- end of accordion-->

    </div><!--end of second div-->
  </div>


  </div><!-- end of container -->

{% endblock %}
{% block extrascripts %}
<script>
  var task_info=$("#id_task_info").val()
  console.log(task_info)
  // $("#taskPk").change(function () {
  //   var url='/task-master/my-tasks/'
  //   var task_info=$(this).val()
  //   console.log(task_info)

  //   $.ajax({
  //     type:'GET',
  //     url:url,
  //     data:{
  //       'task_info':task_info
  //     }
  //   })

  // })

  
  $(function () {
      
      // Update level buttons
      $(".update_form").each(function () {
        $(this).modalForm({formURL:$(this).data('id')});
      });
      $(".bid_award").each(function () {
        $(this).modalForm({formURL:$(this).data('id')});
      });
      $(".due_date").each(function () {
        $(this).modalForm({formURL:$(this).data('id')});
      });
      $(".reassign").each(function () {
        $(this).modalForm({formURL:$(this).data('id')});
      });
      $(".invoice").each(function () {
        $(this).modalForm({formURL:$(this).data('id')});
      });
  });

  $(function () {
      
      // Update level buttons
      $(".rating").each(function () {
        $(this).modalForm({formURL:$(this).data('id')});
      });
  });
</script>
{% endblock extrascripts %}