{% load static %}
{% load crispy_forms_tags %}
<link href="https://fonts.googleapis.com/css?family=Anton|Russo+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Asap&display=swap" rel="stylesheet">
<!--     Fonts and icons     -->

<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
<!-- CSS only -->

<link href="{% static 'css/pe-icon-7-stroke.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<!--    w3 css-->
 <link rel = "stylesheet" href = "https://www.w3schools.com/lib/w3.css">
<link href="{% static 'taskmanager/w3.css' %}" rel="stylesheet"/>
<!-- Custom styles for this template -->
<!--  CSS for Demo Purpose, don't include it in your project     -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/starability/2.4.2/starability-minified/starability-all.min.css"/>
<!-- JS, Popper.js, and jQuery -->

<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- Custom styles for this template-->
<link href="{% static 'admin_css/sb-admin-2.min.css' %}" rel="stylesheet">

<link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


<form id="range_form" method="POST" data-ranges-url="{% url 'taskmanager:form_data' %}" novalidate>
    {% csrf_token %}
    {{form|crispy}}
    <input id="submit_range" type="submit" value="submit" class="btn btn-sm btn-primary">
</form>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap-tab.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'admin_js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->

<!-- Page level custom scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script src="{% static 'js/chartist.min.js' %}"></script>
<script src="{% static 'js/bootstrap-notify.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

<script>

    $(function () {
        $('#datetimepicker1, #id_multiple_date_picker ').datepicker({
            multidate:true,
            // format:'YYYY-MM-DD'
        });
    });

    $(function() {

    var start = moment().subtract(29, 'days');
    var end = moment();

    function cb(start, end) {
        $('#id_date_range_picker span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }

    $('#id_date_range_picker').daterangepicker({
        multidate:true,
        startDate: start,
        endDate: end,
        ranges: {
          'Today': [moment(), moment()],
          'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);

    });


    $("#submit_range").click(function(event){
        event.preventDefault();
        var url=$("#range_form").attr("data-ranges-url");
        var date_range=$("#id_date_range_picker").val();
        
        $.ajax({
            url:url,
            data:{
                'date_range':date_range
            },

        });


    });

    
</script>